* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 1rem;
    font-family: 'Vollkorn', Georgia, Times, serif;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9fac2;
    
}

a {
    color: black;
    margin-right: 15px;
    padding: 7px;
    text-decoration: none;
}

nav > a:hover {
    background-color: rgba(0, 0, 0, 0.328);
    padding: 7px;
    border-radius: 30px;
}

main {
    
}

#conteudo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    margin: 50px 250px 50px 250px;
}

